.App{
  display: grid;
  min-height: 100vh;
}

main{
  place-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 800px;
  border-radius: 20px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
}

.result, .summary{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  border-radius: 20px;
}

.summary{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50%;
  border-radius: 20px;
  padding: 2rem;
}

.result{
  background: linear-gradient(var(--light-slate-blue-bg), var(--light-royal-blue-bg));
  h1{
    color: var(--pale-blue);
    margin-top: 3rem;
  }
  h2{
    color: var(--white);
  }
  p{
    color: var(--pale-blue);
    width: 65%;
    text-align: center;
    font-size: 18px;
    margin-top: 0rem;
    margin-bottom: 3rem;
    font-weight: 500;
  }
}

.average{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(var(--violet-blue-circle), var(--persian-blue-circle));
  h2{
    font-size: 60px;
    color: var(--white);
  }
  p{
    margin-top: -3.5rem;
    color: var(--light-lavender);
    font-weight: 500;
  }
}


.summary{
  h2{
    margin-top: -1rem;
  }
}

.summaryItem{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: .5rem;
  border-radius: 5px;
  padding: 0 .5rem;
  p{
    font-weight: 700;
    span{
      color: gray;
    }
  }
}

.category{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  img{
    margin-right: .5rem;
  }
}

#Reaction{
  background-color: hsla(0, 100%, 67%, 0.1);
  h3{
    color: var(--light-red);
  }
}

#Memory{
  background-color: hsla(39, 100%, 56%, 0.1);
  h3{
    color: var(--orangey-yellow);
  }
}

#Verbal{
  background-color: hsla(166, 100%, 37%, 0.1);
  h3{
    color: var(--green-teal);
  }
}

#Visual{
  background-color: hsla(234, 85%, 45%, 0.1);
  h3{
    color: var(--cobalt-blue);
  }
}

.continue{
  background-color: var(--dark-gray-blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 95%;
  border-radius: 40px;
  margin-left: 1rem;
  margin-top: 1rem;
  &:hover{
    background: linear-gradient(var(--light-slate-blue-bg), var(--light-royal-blue-bg));
    cursor: pointer;
  }
  p{
    font-size: 1rem;
    color: white;
  }
}
